*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
@keyframes sonar{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(4);
    }
}
@keyframes smooth{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-5%);
    }
}

a:hover{
    text-decoration: none;
    color: #333;
}